@page "/inventory"

@using TailspinToysWeb.Data
@inject ProductService ProductService

<h1>Products</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Quantity</td>
                    <td>@product.Title</td>
                    <td>@product.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Product[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
    }
}
